body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}
.board {
    width: 600px;
    height: 600px;
    margin: 30px;
    display:grid;
    grid-template-columns: repeat(10, 1fr);
    border: solid black; 
}
.box {
    border: 1px solid #555;
    display:flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 17px;
    background-image: linear-gradient(to top, rgb(17, 224, 207), rgb(2, 28, 46));
}
img{
    height: 250px;
    width: 200px;
    position: relative;
    bottom: 600px;
    right: 220px;
}
.snake{
transform: rotate(200deg);
height: 300px;
width: 150px;
position: relative;
bottom: 520px;
right: 80px;
}
.stairs{
    height: 180px;
    width: 180px;
    transform: rotate(0deg);
    position: relative;
    bottom: 360px;
    
}
.ladder
{
    height: 220px;
    width: 200px;
    transform: rotate(230deg);
    position: relative;
    right: 600px;
}
/* .snake {
    position: absolute;
    width: 20px;
    height: 200px;
    border-radius: 50px;
    transform: rotate(45deg);
} 
 */
